{% extends 'admin/base_site.html' %}

{% block content %}
    <h1>Посчитать статистику по заказам</h1>
    <form method="get" action="{% url 'admin:calc_order_statistics' %}">
        <label for="date">Выберите дату:</label>
        <input type="date" id="date" name="date" value="{{ days.0 }}">
        <button type="submit" class="button">Отправить</button>
    </form></br>

    <h1>Заказы на дату {{ date }}:</h1>
    {% if statistics %}
        <table class="table">
            <thead>
                <tr>
                    <th>Блюдо</th>
                    <th>Количество заказов</th>
                </tr>
            </thead>
            <tbody>
                {% for item in statistics %}
                <tr>
                    <td>{{ item.dish }}</td>
                    <td>{{ item.total_orders }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
           <p>Нет заказов за указанную дату.</p>
        {% endif %}
    </br>

    <a href="{% url 'admin:food_order_changelist' %}" class="button">Вернуться назад</a>
{% endblock %}