{% extends "admin/base_site.html" %}
{% block content %}
<h1>Доступные блюда по дням недели</h1>
<form method="get">
    <label for="date">Выберите дату:</label>
    <input type="date" id="date" name="date" value="{{ days.0 }}">
    <button type="submit">Показать</button>
</form>

<table border="1">
    <thead>
        <tr>
            {% for day_data in dishes_by_date %}
            <th>{{ day_data.day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for day_data in dishes_by_date %}
            <td>
                {% for allowed_dish in day_data.dishes %}
                    {{ allowed_dish.dish.name }}<br>
                {% empty %}
                    Нет доступных блюд
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}